*.egg-info
.*.swp
.*.swo
*.pyc
.DS_Store
docs/_build
docs/fr/_build
build
dist
.tox
.coverage
htmlcov
six-*.egg/
*.orig
.idea/
*rice-box.*

bak
output
output_*
research
venv
venv3
chameleon_cache
cache
samples/petsy_2015/
samples/petsy_2014/
samples/petsy_2014_bak/
samples/petsy_2014_exp/
samples/finklabs-site/
node_modules
bower_components
