language: go

install:
 - export PATH=$HOME/gopath/bin:$PATH
 - go get golang.org/x/tools/cmd/cover
 - go get -v github.com/axw/gocov
 - go install github.com/axw/gocov/gocov
 - go get github.com/GeertJohan/go.rice
 # we do not need the rice tool!
 - go get github.com/xeipuuv/gojsonschema
 - go get github.com/finklabs/ttime
 - go get github.com/finklabs/graceful
 - go get github.com/gorilla/mux

script:
 - gocov test | gocov report