<!DOCTYPE html >
<html lang="en" ng-app="gogrinder">
<head>
    <title>GoGrinder Performance Test</title>
    <link href="./libs/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="./css/slate.min.css"
          rel="stylesheet">
    <link href="./libs/font-awesome/css/font-awesome.min.css"
          rel="stylesheet">
    <link href="./css/main.css"
          rel="stylesheet">
</head>

<body ng-controller="MainController">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="/">GoGrinder
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <div class="btn-group nav navbar-nav navbar-right">
                <a class="btn btn-default"  ng-click="editConfig()">
                    <i class="fa fa-file-text-o"></i>
                </a>
                <a class="btn btn-default" ng-hide="test.running" ng-click="test.start()">
                    <i class="fa fa-play"></i>
                </a>
                <a class="btn btn-default" ng-show="test.running" ng-click="test.stop()">
                    <i class="fa fa-stop"></i>
                </a>
                <a class="btn btn-default" ng-hide="test.running" ng-click="test.csv()">
                    <i class="fa fa-download"></i>
                </a>
                <a class="btn btn-default" ng-click="test.exit()">
                    <i class="fa fa-eject"></i>
                </a>
                <a class="btn btn-default"  ng-click="showAbout()">
                    <i class="fa fa-info-circle"></i>
                </a>
            </div>
        </div>

    </div>
</nav>

<div class="container main-content">

    <toaster-container></toaster-container>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered"
                           infinite-scroll="loadMore()"
                           infinite-scroll-immediate-check="false"
                           infinite-scroll-distance="1">

                        <tr>
                            <th class="col-1">
                                <div class="sortables">
									<span ng-click="reverse = true; order = 'teststep';"
                                          class="fa fa-sort-asc"></span>
									<span ng-click="reverse = false; order = 'teststep';"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Teststep
                            </th>
                            <th class="col-2">
                                <div class="sortables">
									<span ng-click="reverse = true; order = 'avg_ms';"
                                          class="fa fa-sort-asc"></span>
									<span ng-click="reverse = false; order = 'avg_ms';"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Avg [ms]
                            </th>
                            <th class="col-3">
                                <div class="sortables">
									<span ng-click="reverse = true; order = 'min_ms';"
                                          class="fa fa-sort-asc"></span>
									<span ng-click="reverse = false; order = 'min_ms';"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Min [ms]
                            </th>
                            <th class="col-4">
                                <div class="sortables">
									<span ng-click="reverse = true; order = 'max_ms';"
                                          class="fa fa-sort-asc"></span>
									<span ng-click="reverse = false; order = 'max_ms';"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Max [ms]
                            </th>
                            <th class="col-5">
                                <div class="sortables">
									<span ng-click="reverse = true; order = 'count';"
                                          class="fa fa-sort-asc"></span>
									<span ng-click="reverse = false; order = 'count';"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Count
                            </th>
                            <th class="col-6">
                                <div class="sortables">
									<span ng-click="reverse = true; order = 'error';"
                                          class="fa fa-sort-asc"></span>
									<span ng-click="reverse = false; order = 'error';"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Errors
                            </th>
                        </tr>

                        <tr ng-repeat="teststep in test.results | orderBy:order:reverse">
                            <td>{{ teststep.teststep }}</td>
                            <td>{{ teststep.min_ms }}</td>
                            <td>{{ teststep.max_ms }}</td>
                            <td>{{ teststep.avg_ms }}</td>
                            <td>{{ teststep.count }}</td>
                            <td>{{ teststep.error }}</td>
                        </tr>


                    </table>

                    <div ng-show="test.results.length == 0 && !tests.isLoading">
                        <div class="alert alert-info">
                            <p class="text-center">No results found for search term '{{ search }}'</p>
                        </div>
                    </div>

                    <div class="spinner"
                         ng-show="tests.isLoading">
                        <span us-spinner="{radius:8, width:5, length: 3, lines:9}"></span>

                        <p>Loading...</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="./libs/angular/angular.min.js"></script>
<script src="./libs/angular-strap/dist/angular-strap.min.js"></script>
<script src="./libs/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
